.main {
  display: grid;
  grid-template-rows: 1fr auto auto;
  height: 100%;
  padding: 2rem;
}

.columns {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 40rem) {
  .columns {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
  }
}

.column {
  margin-left: .5rem;
  flex-basis: 25%;
}

.columnHeading {
  background-color: var(--column-heading-background);
  color: white;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.columnToggles {
  text-align: center;
}

.columnToggle {
  font-size: 2rem;
  border: 1px solid var(--column-toggle-color);
  padding: 1rem 1.5rem;
  margin-right: .1rem;
}

.compose {
  margin-top: 2rem;
  text-align: center;
}

.composeSelect {
  border-color: transparent;
  background-color: transparent;
  font-size: 2rem;
}

.composeInput {
  font-size: 2rem;
  padding: 1rem;
  min-width: 28rem;
}

.entry {
  border: .1rem solid var(--entry-border);
  padding: 1rem;
  margin: 0 0 .5rem 0;
}

.entryStar {
  float: right;
}

.loading {
  stroke: var(--loading-spinner);
}
